In [3]:
# Dataset tipo .CSV
# df = dataframe.read_csv('archivo.csv')

import pandas as pd
df = pd.read_csv('datasets_senac/tracking.csv')

In [4]:
df.head()

   inicial  palestras  contato  comprou  patrocinio
0        1          1        0        0           0
1        1          1        0        0           0
2        1          1        0        0           0
3        1          1        0        0           0
4        1          1        0        0           0

In [5]:
df.tail()

    inicial  palestras  contato  comprou  patrocinio
94        0          0        1        0           0
95        1          1        1        1           0
96        0          0        1        0           0
97        0          1        0        0           0
98        0          0        0        0           0

In [6]:
 # fazendo uma estimnativa da coluna comprou
y = df['comprou']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

In [9]:
x = df[['inicial', 'palestras', 'contato', 'patrocinio']]
x.head()

   inicial  palestras  contato  patrocinio
0        1          1        0           0
1        1          1        0           0
2        1          1        0           0
3        1          1        0           0
4        1          1        0           0

In [12]:
# vamos separar quem  e' treino e quem e' teste
# utilizando a tecnica de slicing (fatiamento)

treino_x = x[:75] # os primeiros 75 elementos
treino_y = y[:75] # os primeiros 75 elementos

teste_x = x[75:] # a partir do elemento 75
teste_y = y[75:] # a partir do elemento 75

In [14]:
print(f"Treinaremos com {len(treino_x)} elementos e testaremos com {len(teste_x)} elementos")

Treinaremos com 75 elementos e testaremos com 24 elementos

In [15]:
# vamos treinar o modelo
from sklearn.svm import LinearSVC
modelo = LinearSVC()
# aqui eu vou treinar o modelo
modelo.fit(treino_x, treino_y)
# aqui eu vou frdazer previsoes
# o modelo.predict(teste_x) serve para fazer previsoes
# teste_x sao os dado que os que eu quero prever
# teste_x sao as paginas que o usuario realmente visitou
# teste_y e se ele comprou ou nao
previsoes = modelo.predict(teste_x)
print(previsoes)
# para saber se o modelo acertou ou errou
from sklearn.metrics import accuracy_score
# accuracy_score serve para saber a acuracia do modelo
taxa_de_acerto = accuracy_score(teste_y, previsoes)
print(f"Taxa de acerto {taxa_de_acerto * 100}%")

[0 0 0 0 0 0 0 0 1 1 0 0 0 0 1 1 0 0 0 0 1 0 0 0]
Taxa de acerto 95.83333333333334%